/**
 * Sets styling for the body element.
 * Defines min/max width, background color, font family, weight and size, 
 * margin and padding.
 */
body {
  min-width: 300px;
  max-width: 1000px;
  background-color: aliceblue;
  color: #000300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 1.5;
  margin: 2;
  padding: 2.1;
}
